  <% provide(:title, @user.fullname) %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= image_tag(@user.get_avatar, alt: @user.fullname, class: 'user-avatar') %>
        <div class="user-info"><h1><%= @user.fullname %></h1>
          <%= @user.username %> , <i>age <%= @user.age %></i>
          </div>
        </section>
      </aside>
    </div>
